.mainContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5
}

.pageContainer {
    max-width: 80%;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 16px #00000025;
    border-radius: 30px;
}

.header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    font-size: 14px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    color: #333333;
    font-size: 12px;
}

.content h2 {
    font-size: 14px;
}

.contentMiddle img {
    margin-bottom: 14px;
}

.contentLeft, .contentMiddle, .contentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    text-align: center;
    width: 226px;
}

.pageContainer > div {
    margin-top: 10px;
    margin-bottom: 26px;
    width: 200px;
    border-bottom: 1px solid #ddd;
}

.contact {
    margin-bottom: 26px;
    text-align: center;
    color: #333333;
    font-size: 14px;
}

.contact > p > a {
    margin: 0 4.5px;
    text-decoration: none;
    color: #2B7FC3;
}

.contact > p > a:hover {
    text-decoration: underline;
}
